<h2>Ruby Oinarriak</h2>
<h3>Indizea</h3>
<p>Edukiak</p>
<ol>
    <li><%= link_to 'Indizea','/ikastaroa/index' %></li>
    <li><%= link_to 'Kaixo','/ikastaroa/kaixo' %></li>
    <li><%= link_to 'Iruzkinak','/ikastaroa/iruzkinak' %></li>
    <li><%= link_to 'Aldagaiak','/ikastaroa/aldagaiak' %></li>
    <li><%= link_to 'Eragileak','/ikastaroa/eragileak' %></li>
    <li><%= link_to 'Baldintzak','/ikastaroa/baldintzak' %></li>
    <li><%= link_to 'Case When','/ikastaroa/switchcase' %></li>
    </ol>
