<!DOCTYPE html>
<html>
<head>
  <title>Ruby Ikastaroa</title>
    <meta name="description" content="Ruby lengoaia ikasteko gunea">
  <meta name="author" content="Pello Xabier Altadill Izura">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'stylesheets/normalize', media: 'all' %>
  <%= stylesheet_link_tag 'stylesheets/skeleton', media: 'all'  %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

    <div class="row">
      <header>
        <div class="one column"><%= image_tag "header-ruby-logo.png" %></div>
        <div class="eleven columns">  <h1>Ruby Ikastaroa</h1></div>
      </header>
    </div>


    <div class="row">
      <div class="twelve columns">
        <nav>
          <%= link_to 'Etxea','/kaixo/index' %> | <%= link_to 'Ruby Oinarriak','/ikastaroa/index' %>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="nine columns">
          <%= yield %>
      </div>
      <div class="three columns">
         <%= render "shared/ikastaroa" %>
      </div>
    </div>
  
  <div class="row">
    <div class="twelve columns">
        <footer>
          <%= render "shared/oina" %>
          </footer>
    </div>
  </div>
  
</div>
</body>
</html>
